<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="main.css" type="text/css">
<div id="main">
  <div class="item">
    <div class="title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="options">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>
  <div class="item">
    <div class="title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="options">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>
  <div class="item">
    <div class="title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="options">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>
  <div class="item">
    <div class="title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="options">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>
  <div class="item">
    <div class="title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="options">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>
  <div class="item">
    <div class="title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="options">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>
  <div class="item">
    <div class="title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="options">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>
  <div class="item">
    <div class="title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="options">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>
</div>
